body {
    background: url('../images/squaresbg.png');
    background-size: cover;
}

img {
    display: block;
}

p {
    text-align: center;
}

#hapbirthContainer {
    width: 500px;
    height: 152px;
    margin: auto;
}

#hapbirth {
    font-family: "Lily Script One", cursive;
    font-size: 60px;
    width: 500px;
    text-align: left;
}

#hapbirth span {
}

#cupcakeContainer {
    height: 450px;
    width: 367px;
    margin: auto;
    margin-top: -75px;
    margin-bottom: -50px;
}

#cupcake {
    height: 450px;
    display: none;
}

#name {
    font-family: "Lily Script One", cursive;
    font-size: 60px;
}