body{
	background: URL("../images/blackboard.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	font-family: schoolbell;
	color: #FFFFFF;
}


.subject	{
	padding-top: 150px;
	font-size: 60px;
    text-align:center;
}

#term{
	margin-top: 75px;
    text-align:center;

}

#definition{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
    padding-bottom: 405px;
}

.content{
	font-size: 40px;
}

ol{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

li{
	text-align: left;
}