body {
    background: url('../images/onshorebg.jpg') center top;
    background-size: cover;
}

#title {
    font-family: "Oswald";
    font-size: 65px;
    color: white;
    text-align: center;
    opacity: 1;
}

#sc {
    float: left;
    width: 75%;
}

#st {
    float: right;
    width: 25%;
}

#scContainer {
    width: 68%;
    margin: auto;
}

.bio {
    height: 600px;
    width: 429px;
    padding: 5px;
    border: 1px solid rgba(225,225,255,0.1);
}

#shane {
    float: left;
}

#chuck {
    float: right;
}

.bio-short {
    height: 250px;
    width: 231px;
    padding: 5px;
    border: 1px solid rgba(225,225,255,0.1);
    margin: auto;
}

.name {
    font-family: "Oswald";
    font-size: 15px;
    color: white;
    text-align: left;
}

.title {
    font-family: "Open Sans";
    font-size: 9px;
}

.about {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 15.5px;
    color: white;
    text-align: justify;
    text-indent: 40px;
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
}