body {
    background: url('../images/atlSkyline.jpg') repeat-x #ffffff;
	background-position: bottom;
	background-size: 35%;
}
html{
    height:100%;
}

.container img {
	display: block;
	margin: auto;
    bottom: 15px;
}

#welcomeStart, #welcomeEnd {
	font-family: "Kaushan Script";
	font-size: 50px;
	text-align: center;
    margin-top:15px;
}

#teamType {
	font-family: "Open Sans";
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

#names {
	width: 60%;
	margin: auto;
	font-family: "Open Sans";
	font-weight: 600;
	text-align: left;
}