body {
    background: url('../images/basketbg.png');
    background-size: cover;
}

.container img {
	display: block;
	margin: auto;
}

#welcomeStart, #welcomeEnd {
	font-family: "Sail";
	font-size: 55px;
	color: white;
	text-align: center;
    margin-top:60px;
}

#teamType {
	font-family: "Open Sans";
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
	color: white;
	text-align: center;
    margin-top:70px;
}

#names {
	width: 60%;
	margin: auto;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 600;
	text-align: left;
	color: white;
}