body {
    background: url('../images/onshorebg.jpg') center top;
    background-size: cover;
}

#title {
    font-family: "Oswald";
    font-size: 65px;
    color: white;
    text-align: center;
    opacity: 1;
}

.polaroid {
    display: inline-block;
    background: #ffffff;
    padding: 10px;
    z-index: 2;
    opacity: .001;
}

.polaroid div {
    font-family: "Permanent Marker";
    font-size: 30px;
    text-align: center;
    height: 40px;
}

#macon {
    transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
    -webkit-transform:rotate(-1deg);
}

#glennville {
    transform:rotate(1deg);
    -ms-transform:rotate(1deg);
    -webkit-transform:rotate(1deg);
}

.desc {
    width: 850px;
    padding: 10px;
    background: rgba(225,225,225,0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    text-indent: 40px;
    text-align: justify;
    z-index: 1;
}

#maconDesc {
    padding-left: 100px;
}

#glennvilleDesc {
    padding-right: 100px;
}