body {
    background: url('../images/basketbg.png');
    background-size: cover;
}

#ladyContainer {
    position: absolute;
    display: inline-block;
    width: 372px;
    margin: auto;
    z-index: 1;
}

#lady {
}

#welcome {
    position: absolute;
    font-family: "Sail", cursive;
    font-size: 55px;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #633d25;
    color: white;
    text-align: center;
    z-index: 2;
}

#line2 {
    margin-top: -15px;
}

#delayed {
    position: absolute;
}

#logoContainer {
    width: 574px;
    margin: auto;
}

#panera {
    opacity: .001;
    height: 300px;
}

#names {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 50px;
}

#ree {
    margin-top: 20px;
}