body {
    background: url('../images/security.jpg');
    background-size: cover;
}

body {
    text-align: center;
    color: white;
}

.subject {
    font-size: 44px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.content {
    font-family: sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0,0,0,.5);
    display: inline-block;
    text-align: left;
    width: 650px;
}