body {
    background: url('../images/onshorebg.jpg') center top;
    background-size: cover;
}

#title {
    font-family: "Oswald";
    font-size: 65px;
    color: white;
    text-align: center;
    opacity: 1;
}

.polaroid {
    display: inline-block;
    background: #ffffff;
    padding: 10px;
    z-index: 2;
    opacity: .001;
}

.polaroid div {
    font-family: "Permanent Marker";
    font-size: 30px;
    text-align: center;
    height: 40px;
}

#Stacy {
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg);
    -webkit-transform:rotate(-7deg);
}
#Chelsea {
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg);
    -webkit-transform:rotate(-7deg);
}
#Heather {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg);
    -webkit-transform:rotate(7deg);
}
#Brandon {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg);
    -webkit-transform:rotate(7deg);
}
.desc {
    width: 700px;
    padding: 10px;
    background: rgba(225,225,225,0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-indent: 40px;
    text-align: justify;
    z-index: 1;
}

#Stacy {
    padding-left: 23px;
}

#Heather {
    padding-right: 23px;
}
#Chelsea {
    padding-left: 23px;
}
#Brandon {
    padding-left: 23px;
}

