<link rel="stylesheet" type="text/css" href="Content/leaders.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Oswald:700' rel='stylesheet' type='text/css'>
<div id="title">Our Leadership</div>
<!--<div id="sc">-->
<div id="scContainer">
    <div id="shane" class="bio">
          <a href="#/view/1">comments</a>

        <img src="images/shaneheadshot.jpg" id="shanepic" />
        <div class="name">Shane Mayes, <span class="title">Founder & CEO</span></div>
        <div class="about">
            Shane Mayes is a gulf war veteran, a passionate American, and the founder of Onshore Outsourcing. Shane's purpose is to help people see beyond their current situation toward a better way of life ... personally and professionally. This purpose extends to employees, customers, business partners, and communities.
            <br /><br />To fulfill this purpose, Shane started Onshore Technology Services, a nationally recognized rural outsourcing firm that provides outsourcing and software development solutions to Fortune 500 and mid-sized companies as well as government agencies. Onshore's strength is its ability to create Information Technology jobs in rural America, which has historically been "overshot" by the economic and social advances enabled by the IT economy. Using an innovative rural delivery model, Onshore provides high quality, RURAL technology services at a price-point that is competitive to offshore providers.
            <br /><br />Shane's audacious dream is to revitalize rural America, to restore the hope and dignity that comes from having an honorable profession, to thousands of people in small, rural towns across America. Shane makes his home in Macon, Missouri with his wife Lisa, and their two young children. Active in his church and his community, Shane fills his personal life in the same way he fills his work life, striving to make the world a better place. 
        </div>
    </div>
    <div id="chuck" class="bio">
        <img src="images/chuckheadshot.jpg" id="chuckpic" />
        <div class="name">Chuck Ruggiero, <span class="title">President & COO</span></div>
        <div class="about">
            Charles Ruggiero serves as the President and Chief Operations Officer of Onshore where he brings a unique mix of technical and business expertise in software engineering, information technology outsourcing, management consulting, project management, sales, and marketing in entrepreneurial and large blue-chip companies
            <br /><br />Described as a serial entrepreneur, Chuck has founded, or played a critical role in building, a number of businesses, including GCI, (a global IT consultancy), Foundation Technology Services and CRC International, a Financial Services Global IT Consultancy with development centers in India and Canada.
            <br /><br />Chuck has been a keynote speaker for major business associations and conferences and has delivered customized presentations to Fortune 500 firms.
            <br /><br />In addition to his MS in Software Engineering from NJIT, Chuck holds two Bachelor degrees in Computer Science and Engineering from Pennsylvania State University.
            <br /><br />Chuck resides in Roswell, Georgia with his wife Kimsey and their three children.
        </div>
    </div>
</div>
<!--</div>-->
<!--<div id="st">
    <div id="scott" class="bio-short">
        <img src="images/scottheadshot.jpg" id="scottpic" />
        <div class="name">Scott Harris, <span class="title">General Manager - Glennville, GA</span></div>
    </div>
    <div id="travis" class="bio-short">
        <img src="images/travisheadshot.jpg" id="travispic" />
        <div class="name">Travis Winegar, <span class="title">General Manager - Macon, MO</span></div>
    </div>
</div>-->
<script src="scripts/jquery-ui.js"></script>
<script src="scripts/leaders.js" type="text/javascript"></script>
<script src="scripts/transition.js" type="text/javascript"></script>
